@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
  @apply h-screen w-full bg-[url('images/bg-image.jpg')] bg-cover bg-center bg-blend-darken bg-black bg-opacity-65 font-catamaran py-8 text-white flex flex-col;
}

.menu-dropdown {
  @apply absolute bg-black bg-blend-darken bg-opacity-100 text-white p-6 top-full transition-all duration-300 ease-in-out  whitespace-nowrap flex flex-col gap-2;
}

.image-card {
  @apply absolute left-1/2 -translate-x-1/2 -bottom-10   text-white  transition-all duration-300 ease-in-out;
}

.concept {
  @apply flex flex-col items-center text-center text-white justify-center gap-10 h-screen w-full bg-[url('images/bg-concept.jpg')] bg-cover bg-center bg-blend-darken bg-black bg-opacity-75;
}

.loader {
  width: 10%;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid transparent;
  border-right-color: black;
  animation: l2 1.5s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
